<!-- views/comments.handlebars -->

{{#if comments.length}}
<div class="comments">
    <h3>Comments</h3>
    {{#each comments}}
    <div class="comment">
        <p>{{ this.comment_text }}</p>
        <p>Commented by: {{ this.User.username }}</p>
        <p>Commented on: {{ formatDate this.createdAt}}</p>
    </div>
    {{/each}}
</div>
{{else}}
    <p>No comments yet.</p>
{{/if}}

<!-- Form to add a new comment -->
<form id="comment-form" class="add-comment-form" method="POST">
    <input type="hidden" id="post-id" value="{{ postId }}">
    <textarea id="comment-text" name="comment_text" rows="3" cols="40" placeholder="Add your comment here"></textarea><br>
    <button type="submit">Submit Comment</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var postId = document.querySelector('#post-id').value;
        document.querySelector('#comment-form').setAttribute('action', '/api/comments');
    });
</script>



<script src="/js/comments.js"></script>