<!-- views/post.handlebars -->

<div class="post">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>Posted by: {{post.username}}</p>
    <p>Published on: {{ formatDate.date }}</p>
    <!-- Link to view comments for this post -->
    <a href="/post/{{id}}/comments">View Comments</a>
</div>

