<!-- singlepost.handlebars -->
<div class="post">
    <h2>{{ post.title }}-<span class="post-info">{{ post.User.username }} | {{ formatDate post.createdAt}}</span></h2>
    <p>{{ post.content }}</p>
    

</div>
    <!-- Edit and Delete Buttons -->

    {{#if isAuthor}}
    <div class="post-actions">
        <a href="/posts/{{post.id}}/edit" 
        class="btn">Edit Post</a>
        <button id="delete-post-btn" data-postid="{{ post.id }}" class="btn">Delete Post</button>
    </div>
    {{/if}}
</div>



{{> comments comments=comments postId=post.id logged_in=logged_in }}

{{#if logged_in}}
<script src="/js/post.js"></script>
{{/if}}
