<!-- singlepost.handlebars -->
<div class="post">
    <h2>{{ post.title }}-<span class="post-info">{{ post.User.username }} | {{ formatDate post.createdAt}}</span></h2>
    <p>{{ post.content }}</p>
    

</div>
    <!-- Edit and Delete Buttons -->

    {{#if isAuthor}}
    <div class="post-actions">
        <a href="/posts/{{post.id}}/edit" 
        class="btn">Edit Post</a>
    <button class="delete-post-btn" data-post-id="{{ post.id }}">Delete Post</button>
    </div>
    {{/if}}
</div>



{{> comments comments=comments postId=post.id logged_in=logged_in }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Function to handle post deletion
    function handleDeletePost(event) {
        event.preventDefault();
        const postId = event.target.dataset.postId;
        
        // Send a DELETE request to the backend to delete the post
        fetch(`/api/posts/${postId}`, {
            method: 'DELETE'
        })
        .then(function(response) {
            if (response.ok) {
                // Reload the page to reflect the deletion
                location.reload();
            } else {
                console.error('Failed to delete post:', response.statusText);
            }
        })
        .catch(function(error) {
            console.error('Error deleting post:', error.message);
        });
    }

    // Add event listener to the delete post buttons
    const deletePostButtons = document.querySelectorAll('.delete-post-btn');
    for (let i = 0; i < deletePostButtons.length; i++) {
        deletePostButtons[i].addEventListener('click', handleDeletePost);
    }
});
</script>

{{#if logged_in}}
<script src="/js/post.js"></script>
{{/if}}